{
    "name": "com.agentterminal.native",
    "description": "An integrated terminal for your agent in your browser",
    "type": "stdio",
    "path": "{{ .Path }}",
    {{- if eq .Browser "chromium" }}
    "allowed_origins": [
        "chrome-extension://eakooboihfgnikdhdldcmoiafgioeglm/"
    ]
    {{- else if eq .Browser "gecko" }}
    "allowed_extensions": [
        "agent-terminal@agent-terminal.local"
    ]
    {{- end }}
}
